* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Consolas', monospace;
    scroll-behavior: smooth;
    background: #0d0d0f;
    background: linear-gradient(to right, #232235, #23152f);
    
}

.hero {
    padding: 0px 0;
    margin:0px;
    top: 0
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    background: #ffffff;
    background: -webkit-linear-gradient(to right,  #fcedff , #f1f1ff);
    background: linear-gradient(to right, #fcedff , #f1f1ff);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-top: 5;
}


.image {
    cursor: pointer;
    margin : 15px;
    border-radius: 6px;
    width: 300px;
    height: 300px;
    transition: all 0.5s ease;
}

.image:hover {
    width : calc(300px*1.05);
    height: calc(300px*1.05);
    border-radius: calc(6px*1.05);
    margin-top: calc(15px - (300px*0.05)/2);
    margin-bottom: calc(15px - (300px*0.05)/2);
    transition: all 0.5s ease;
}

.image.isActive{
    width: 0px;
    height: 0px;
    margin-top: calc(15px + 300px/2);
    margin-bottom:calc(15px + 300px/2);
    transition: all 0.4s ease-out;
}


.description {
    font-size: 20px;
    background: #ffffff;
    background: -webkit-linear-gradient(to right, #ffffff, #f8dffd);
    background: linear-gradient(to right, #ffffff, #f8dffd);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.docs_btn {
    border: none;
    cursor: pointer;
    background: #ff7301;
    background: -webkit-linear-gradient(to right, #ffffff, #ffffff,#ff7301);
    background: linear-gradient(to right, #ffffff, #ffffff, #ff7301);
    height: 35px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    margin: 15px;
    transition: all 0.5s ease;
}

.docs_span{
    font-size: 200%;
    background: #000000;
    background: -webkit-linear-gradient(to right,#ff7301, #d8790b);
    background: linear-gradient(to right, #ff7301, #d8790b);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


#docsbtn:hover {
    font-size: 130%;
    height: calc(35px*1.5);
    width: calc(120px*1.2);
    margin-top:calc(15px - (35px*0.5)/2);
    margin-bottom: calc(15px - (35px*0.5)/2);
    border-radius: calc(5px * 1.5);
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
#checkthis{
    display: none;
    align-items: center;
    width: 30%;
}

#checkthis.isActive{
    font-size: 40px;
    margin-top: -300px;
    display: flex;
    text-align: left;
    color: #f1f1ff;
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    letter-spacing: .15rem;
    animation-delay: 2s;
    animation: typing2 3s steps(10, end), blink-caret 0.75s step-end infinite ;
    animation-fill-mode: forwards;
}

.img2ascii {
    visibility:hidden;
    width: 0;
    top:-1000px ;
}

.img2ascii.isActive {
    visibility: visible;
    display: flex;
    margin-top: -100px;
    max-width: 600px;
    text-align: left;
    margin-left: 65px;
    overflow: hidden;
    font-size: 5px;
    color: aliceblue;
    letter-spacing: .1em; /* Adjust as needed */
    animation: typing 4s steps(100, end);
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes typing2 {
    0% { width: 0 }
    50% { width: 30% }
    70% {width:30%}
    100%{ width: 0% }
}
@keyframes delete {
    from { width: 30%}
    to {width: 0%}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255); }
  }



@media screen and (max-width: 768px){
    .hero__heading{
        font-size: 60px;
    }
    .hero__description{
        font-size: 40px;
    }
}